
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493306808159'); /* IE9*/
  src: url('iconfont.eot?t=1493306808159#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493306808159') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493306808159') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493306808159#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before { content: "\e600"; }

.icon-guanyu:before { content: "\e601"; }

.icon-tuxiangchulileiiconshuchu08:before { content: "\e65a"; }

.icon-zhuye:before { content: "\e648"; }

.icon-guidang:before { content: "\e608"; }

