.row>div {
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.container-fluid {
	padding-top: 10px;
	padding-bottom: 10px;
}
.mycol {
	height: 50px;
	width: 100%;
	background-color: #eee;
	border: 1px solid #999;
}
main {
	padding: 0 10px;
}
