
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1491304550035'); /* IE9*/
  src: url('iconfont.eot?t=1491304550035#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1491304550035') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1491304550035') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1491304550035#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before { content: "\e607"; }

.icon-unie61d:before { content: "\e60a"; }

.icon-shape11:before { content: "\e62f"; }

.icon-gezi:before { content: "\e725"; }

.icon-yuanquan:before { content: "\e6ed"; }

.icon-book-2:before { content: "\e601"; }

.icon-tuite:before { content: "\e653"; }

.icon-Lemenu_material_dengru_white_xpx:before { content: "\e627"; }

.icon-hua:before { content: "\e620"; }

