* {
	box-sizing: border-box;
	 }
body {
	margin: 0;
	padding: 0;
}

.row>div {
	width: 150px;
	padding: 20px;
	background-color: tomato;
	margin: 20px 0;
}
.col1 {
	height: 120px;
}
.col2 {
	height: 100px;
}
.col3 {
	height: 40px;
}
.col4 {
	height: 200px;
}

.row {
	display: flex;
	flex-wrap:  wrap;
	align-items: flex-start;
	justify-content: space-between;
}
@media (min-width: 641px) {
	.row {
		flex-wrap:  wrap;
		align-items: center;
		justify-content: space-between;
	}

}
@media (max-width: 640px) {
	.col4 {
		order: -1;
	}
}
